openapi: 3.0.3
info:
  title: PartnerConnect Partner Catalog API
  description: |
    API for retrieving the trading partner catalog from PartnerConnect.

    This API is consumed by Merchant360 to:
    - Display available trading partners for merchant subscriptions
    - Sync the partner catalog on a scheduled basis (every 6 hours)
    - Lazy-load partner data in the subscription UI (30 min cache)

    ## Data Availability Flags
    - `hasPriceData`: Indicates if PartnerConnect has pricing data loaded for this partner
    - `hasEnhancedContent`: Indicates if PartnerConnect has enhanced product content for this partner

    These flags help Merchant360 display which data types are available for each partner.
  version: 1.0.0
  contact:
    name: PartnerConnect Team
    email: partnerconnect@vendorea.com

servers:
  - url: https://partnerconnect.vendorea.com
    description: Production
  - url: https://partnerconnect-staging.vendorea.com
    description: Staging
  - url: http://localhost:5000
    description: Local Development

security:
  - ApiKeyAuth: []
  - OAuth2: []

paths:
  /api/v1/partners:
    get:
      operationId: getPartnerCatalog
      summary: Get available trading partners
      description: |
        Returns all active trading partners with data availability information.

        Used by Merchant360 to display the partner catalog for merchant subscriptions.
        Results include flags indicating whether price data and enhanced content are available.
      tags:
        - Partner Catalog
      security:
        - ApiKeyAuth: []
        - OAuth2: []
      responses:
        '200':
          description: List of active trading partners
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TradingPartner'
              example:
                - id: 1
                  code: "SPR"
                  name: "S.P. Richards"
                  description: "Leading office products wholesaler"
                  logoUrl: "https://cdn.partnerconnect.com/logos/spr.png"
                  hasPriceData: true
                  hasEnhancedContent: true
                  isActive: true
                - id: 2
                  code: "UNITED"
                  name: "United Stationers"
                  description: "Office products and supplies distributor"
                  logoUrl: "https://cdn.partnerconnect.com/logos/united.png"
                  hasPriceData: true
                  hasEnhancedContent: false
                  isActive: true
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Unauthorized"
                message: "Invalid or missing API key"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "InternalServerError"
                message: "An unexpected error occurred"

  /api/v1/partners/{id}:
    get:
      operationId: getPartnerById
      summary: Get a specific trading partner
      description: |
        Returns details for a specific trading partner by ID.

        Includes data availability flags for price data and enhanced content.
      tags:
        - Partner Catalog
      security:
        - ApiKeyAuth: []
        - OAuth2: []
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the trading partner
          schema:
            type: integer
            format: int32
            minimum: 1
          example: 1
      responses:
        '200':
          description: Trading partner details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingPartner'
              example:
                id: 1
                code: "SPR"
                name: "S.P. Richards"
                description: "Leading office products wholesaler"
                logoUrl: "https://cdn.partnerconnect.com/logos/spr.png"
                hasPriceData: true
                hasEnhancedContent: true
                isActive: true
        '401':
          description: Unauthorized - Invalid or missing authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Unauthorized"
                message: "Invalid or missing API key"
        '404':
          description: Trading partner not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "NotFound"
                message: "Trading partner with ID 999 not found"
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "InternalServerError"
                message: "An unexpected error occurred"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: |
        API key authentication for service-to-service communication.

        Obtain an API key from the PartnerConnect admin portal.
    OAuth2:
      type: oauth2
      description: |
        OAuth2 Client Credentials flow for Merchant360 integration.

        Request a token from the PartnerConnect OAuth2 token endpoint.
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes:
            partnerconnect.partners.read: Read access to partner catalog

  schemas:
    TradingPartner:
      type: object
      description: Trading partner with data availability information
      required:
        - id
        - code
        - name
        - isActive
        - hasPriceData
        - hasEnhancedContent
      properties:
        id:
          type: integer
          format: int32
          description: Unique identifier for the trading partner
          example: 1
        code:
          type: string
          description: Short code identifying the trading partner (e.g., "SPR")
          example: "SPR"
          minLength: 1
          maxLength: 20
        name:
          type: string
          description: Display name of the trading partner
          example: "S.P. Richards"
          minLength: 1
          maxLength: 200
        description:
          type: string
          nullable: true
          description: Optional description of the trading partner
          example: "Leading office products wholesaler"
          maxLength: 1000
        logoUrl:
          type: string
          format: uri
          nullable: true
          description: URL to the trading partner's logo image
          example: "https://cdn.partnerconnect.com/logos/spr.png"
        hasPriceData:
          type: boolean
          description: |
            Indicates if PartnerConnect has pricing data loaded for this partner.
            When true, merchants can subscribe to receive price updates.
          example: true
        hasEnhancedContent:
          type: boolean
          description: |
            Indicates if PartnerConnect has enhanced product content (descriptions,
            images, specifications) loaded for this partner.
          example: true
        isActive:
          type: boolean
          description: |
            Indicates if the trading partner is currently active.
            Only active partners should be displayed for new subscriptions.
          example: true

    ErrorResponse:
      type: object
      description: Standard error response
      required:
        - error
        - message
      properties:
        error:
          type: string
          description: Error type/code
          example: "NotFound"
        message:
          type: string
          description: Human-readable error message
          example: "Trading partner not found"
        details:
          type: object
          nullable: true
          description: Additional error details (optional)
          additionalProperties: true

    CreateSubscriptionRequest:
      type: object
      description: Request to create a subscription from M360
      required:
        - tenantId
        - tradingPartnerId
        - accountNumber
      properties:
        tenantId:
          type: integer
          description: The M360 tenant ID (merchant) requesting the subscription
          example: 123
        tradingPartnerId:
          type: integer
          description: The trading partner ID in PartnerConnect
          example: 1
        accountNumber:
          type: string
          description: The merchant's account number with the trading partner
          example: "ACCT-001"
          maxLength: 100

    SubscriptionResponse:
      type: object
      description: Subscription request details
      properties:
        id:
          type: integer
          example: 1
        tenantId:
          type: integer
          example: 123
        tradingPartnerId:
          type: integer
          example: 1
        tradingPartnerCode:
          type: string
          nullable: true
          example: "SPR"
        tradingPartnerName:
          type: string
          nullable: true
          example: "S.P. Richards"
        accountNumber:
          type: string
          example: "ACCT-001"
        status:
          type: string
          enum: [Pending, Approved, Denied, Suspended]
          example: "Pending"
        requestedAt:
          type: string
          format: date-time
        approvedAt:
          type: string
          format: date-time
          nullable: true
        deniedAt:
          type: string
          format: date-time
          nullable: true
        denialReason:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
          description: Informational message about the request
          example: "Subscription request created successfully"

    SubscriptionListResponse:
      type: object
      description: List of subscription requests with counts
      properties:
        total:
          type: integer
          example: 10
        pendingCount:
          type: integer
          example: 3
        approvedCount:
          type: integer
          example: 5
        deniedCount:
          type: integer
          example: 2
        suspendedCount:
          type: integer
          example: 0
        items:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionResponse'

  /api/v1/trading-partner-subscriptions/request:
    post:
      operationId: createSubscriptionRequest
      summary: Create a subscription request
      description: |
        Creates a new subscription request from Merchant360.

        Called by M360 when a merchant wants to subscribe to a trading partner's data.
        PartnerConnect stores the request with status "Pending" for admin approval.

        **Idempotent**: If a subscription already exists for the tenant/partner combination:
        - If Pending: Returns existing request
        - If Approved: Returns existing approved subscription
        - If Denied: Re-submits the request as Pending
      tags:
        - Subscriptions
      security:
        - ApiKeyAuth: []
        - OAuth2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubscriptionRequest'
            example:
              tenantId: 123
              tradingPartnerId: 1
              accountNumber: "ACCT-001"
      responses:
        '201':
          description: Subscription request created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
              example:
                id: 1
                tenantId: 123
                tradingPartnerId: 1
                tradingPartnerCode: "SPR"
                tradingPartnerName: "S.P. Richards"
                accountNumber: "ACCT-001"
                status: "Pending"
                requestedAt: "2026-05-15T10:00:00Z"
                message: "Subscription request created successfully"
        '200':
          description: Subscription already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '400':
          description: Invalid request (e.g., trading partner not found)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/trading-partner-subscriptions:
    get:
      operationId: getSubscriptions
      summary: List subscription requests
      description: |
        Returns all subscription requests with optional status filter.
      tags:
        - Subscriptions
      security:
        - ApiKeyAuth: []
        - OAuth2: []
      parameters:
        - name: status
          in: query
          description: Filter by status (Pending, Approved, Denied, Suspended)
          schema:
            type: string
            enum: [Pending, Approved, Denied, Suspended]
      responses:
        '200':
          description: List of subscription requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResponse'

  /api/v1/trading-partner-subscriptions/{id}:
    get:
      operationId: getSubscriptionById
      summary: Get a subscription request by ID
      tags:
        - Subscriptions
      security:
        - ApiKeyAuth: []
        - OAuth2: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Subscription request details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '404':
          description: Subscription not found

  /api/v1/trading-partner-subscriptions/{id}/approve:
    post:
      operationId: approveSubscription
      summary: Approve a subscription request
      tags:
        - Subscriptions
      security:
        - ApiKeyAuth: []
        - OAuth2: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
      responses:
        '200':
          description: Subscription approved
        '400':
          description: Invalid status for approval
        '404':
          description: Subscription not found

  /api/v1/trading-partner-subscriptions/{id}/deny:
    post:
      operationId: denySubscription
      summary: Deny a subscription request
      tags:
        - Subscriptions
      security:
        - ApiKeyAuth: []
        - OAuth2: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  description: Reason for denial
                notes:
                  type: string
      responses:
        '200':
          description: Subscription denied
        '400':
          description: Invalid status for denial
        '404':
          description: Subscription not found

tags:
  - name: Partner Catalog
    description: |
      Endpoints for retrieving the trading partner catalog.

      Merchant360 uses these endpoints to:
      - Populate the partner selection UI for merchant subscriptions
      - Periodically sync the partner catalog (recommended: every 6 hours)
      - Cache partner data for UI performance (recommended: 30 minute TTL)
  - name: Subscriptions
    description: |
      Endpoints for managing trading partner subscription requests.

      **PartnerConnect is the source of truth for subscriptions.**

      Workflow:
      1. M360 calls POST /request to create a subscription request
      2. PC Admin approves or denies via Admin Portal
      3. On approval, PC starts pushing data to M360
